/* img {
	padding-bottom: 1rem;
}
.image-size {
	max-width: 299px;
	padding: 1rem;
}
.cart-game {
	display: flex;
	align-items: center;
}
.game-card {
	object-fit: cover;
	padding: 1rem;
} */

/*  CREATE GAMECARD CSS HERE
        This will be det box behind everything on each game, including:
				    game image
						game title
						game price
						game genre
						button "read more"
						button "add to cart"

*/

.gamecard-wrapper {
	background: var(--background-content-wrapper);
	border-radius: var(--border-radius-cards);
	padding: 2rem 1rem 1rem 1rem;
	align-content: center;
}
.gamecard-image {
	max-width: 100%;
	padding-bottom: 0.5rem;
	/* padding: 1rem; */
}
/* .gamecard-copy-and-buttons {
	display: flex;
	flex-direction: column;
	align-items: baseline;
	padding-top: 0.5rem;
} */
.gamecard-copy {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding-left: 3rem;
}
.gamecard-buttons {
	display: flex;
	flex-direction: row;
	padding-top: 0.5rem;
	justify-content: center;
}

/*
.game-card-wrapper {
	box-shadow: 0 0 10px 5px rgba(89, 190, 211, 1);
} */
