.logo-gamehub-png {
	float: left;
	max-width: 90%;
}
.about-img,
.contact-img {
	max-width: 100%;
	padding: 1rem;
}
.gamehub-logobanner-small {
	width: 100%;
}
.success-icon {
	display: flex;
	justify-content: center;
}
