.logo-gamehub-png {
	float: left;
	max-width: 90%;
}
.about-img,
.contact-img {
	max-width: 100%;
	padding: 1rem;
}
.gamehub-logobanner-small {
	width: 100vw
}
.success-icon {
	display: flex;
	justify-content: center;
}
.image-wrapper {
	display: flex;
	justify-content: center;
}
.gamecard-image {
	padding-bottom: 0.5rem;
	max-width: 300px;
	border-radius: var(--default-border-radius);
}
