@media (max-width: 800px) {
	h1 {
		display: flex;
    justify-content: center;
	}
	.bg-image-wrapper {
		background-image: url(../images/hero-v5.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		text-align: center;
		min-height: 100vh;
		height: 160vh;
	}
	.hero-button-h1-wrapper {
		display: flex;
		flex-direction: column;
		position: relative;
		top: 60vh;
	}
	.hero-button-wrapper,
	.category-navigation {
	padding-top: 1rem;
	justify-content: center;
	display: grid;
	gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
}
@media (max-width: 600px) {
		h1 {
		display: flex;
    justify-content: center;
	}
	/* .payment-wrapper{
		display: flex;
    flex-direction: column;
	} */
		.pay-ship {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
}
@media (max-width: 400px) {
	.nav-wrapper {
		display:flex;
		max-width: 100%
	}
	h1 {
		display: flex;
    justify-content: center;
	}
		.pay-ship {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
	.checkout-buttons {
		display: flex;
		flex-wrap: wrap;
	}
	.bg-image-wrapper {
		background-image: url(../images/hero-v5.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		text-align: center;
		min-height: 100vh;
		height: 155vh;
	}
	.hero-button-h1-wrapper {
		display: flex;
		flex-direction: column;
		align-content: center;
		position: relative;
		top: 30vh;
	}
	.hero-button-wrapper,
	.category-navigation {
	justify-content: center;
	align-content: center;
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
}
}