@media (max-width: 800px) {
	h1 {
		display: flex;
    justify-content: center;
	}
	.bg-image-wrapper {
		background-image: url(../images/hero-v5.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		text-align: center;
		min-height: 100vh;
		height: 160vh;
	}
	.hero-button-h1-wrapper {
		display: flex;
		flex-direction: column;
		position: relative;
		top: 60vh;
	}
	.hero-button-wrapper,
	.category-navigation {
	padding-top: 1rem;
	justify-content: center;
	display: grid;
	gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
}
@media (max-width: 600px) {
		h1 {
		display: flex;
    justify-content: center;
	}
}
@media (max-width: 400px) {
		h1 {
		display: flex;
    justify-content: center;
	}
	.bg-image-wrapper {
		background-image: url(../images/hero-v5.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		text-align: center;
		min-height: 100vh;
		height: 155vh;
	}
	.hero-button-h1-wrapper {
		display: flex;
		flex-direction: column;
		align-content: center;
		position: relative;
		top: 30vh;
	}
	.hero-button-wrapper,
	.category-navigation {
	justify-content: center;
	align-content: center;
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
}
}

/* @media (max-width: 700px) {
	.hero-button-container,
	.category-navigation {
		grid-template-columns: repeat(1, minmax(10rem, 15rem));
	}
	.product-list {
		justify-items: center;
	}
	.nav {
		flex-direction: column;
	}

	.contact-page,
	.about-page {
		flex-wrap: wrap;
	}

	.search-container {
		display: none;
	}

	.game-detail-page,
	.in-cart-page,
	.payment-shipping-sections {
		padding-top: 2rem;
		flex-wrap: wrap;
		justify-content: center;
	}
	.game-detail {
		max-width: 80%;
		align-content: center;
		display: flex;
		flex-direction: column;
		max-width: 300px;
	}
	.contact-button {
		display: flex;
		flex-direction: column;
		margin: 1rem;
	}
}

@media (max-width: 900px) {
	.nav {
		flex-direction: column;
	}

	.contact-page,
	.about-page {
		flex-wrap: wrap;
	}
}

@media (max-width: 1200px) {
	.hero-button-container,
	.category-navigation {
		grid-template-columns: repeat(2, minmax(10rem, 15rem));
	}

	.product-list,
	.action-games,
	.adventure-games,
	.family-games,
	.sports-games {
		grid-template-columns: repeat(auto-fit, minmax(20rem, 25rem));
		grid-column: auto;
		justify-content: center;
	}

	.contact-page,
	.about-page {
		flex-wrap: wrap;
	}
}

@media (min-width: 1200px) {
	.product-list,
	.action-games,
	.adventure-games,
	.family-games,
	.sports-games {
		grid-template-columns: repeat(auto-fit, minmax(15rem, 20rem));
		grid-column: auto;
		justify-content: center;
	}
} */
