nav {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1rem;
	padding-top: 0.5rem;
}

.nav-items {
	justify-content: center;
}

.nav-items:hover {
	background-color: var(--primary-color);
	color: var(--copy-color-hover);
}

.nav-wrapper {
	display: flex;
	align-items: center;
	background: rgba(255, 255, 255, 0.8);
	flex-wrap: wrap;
	justify-content: flex-end;
}
